.product-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 300px 300px 300px;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    background-color: white;
    padding-bottom: 1%
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-name {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}

.product-description {
    font-size: 0.875rem;
    margin: 10px 0;
    text-align: center;
}

.product-price {
    font-size: 1.125rem;
    font-weight: bold;
    margin: 10px 0;
    color: #645CBB;
}

.add-to-cart-button {
    padding: 10px 20px !important;
    background-color: #645CBB;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 0.875rem;
    cursor: pointer;
}

.add-to-cart-button:hover {
    background-color: #645CBB;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.original-price {
    text-decoration: line-through;
    color: lightgray;
    font-size: 0.875rem;
}

.discount-price {
    color: #645CBB;
    font-size: 1.125rem;
    font-weight: bold;
}